.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.chiled{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    border-radius: 15px;
}
button{
    border: 2px white solid;
    border-radius: 12px;
    background-color: grey;
}
img{
    width: 200px;
}
.time{
    position: relative;
    left: 43%;
    color: black;
    background-color: red;
    border: white 2px solid;
    border-radius: 14px;
    padding: 4px;
    margin: 0px;
}